@import "bourbon/bourbon"
@import "sass/_custom"

/*Внешние блоки*/

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.25
	font-family: "RobotoRegularNew", sans-serif
	overflow-x: hidden

.header
	background-color: #422598
	&__top
		border-bottom: 1px solid rgba(240,240,240,.1)
	&__h-menu
		width: 100%
		text-align: right
	&__h-center
		
	&__h-right
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: flex-end
	&__h-catalog

	&__h-search
		
	&__h-basket
		margin-left: 26px