@charset "UTF-8";
/*Сброс*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, button:active, button:focus,
input, input:active, input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

.hidden {
  display: none;
}

a {
  -webkit-transition: color .12s ease-out;
  -moz-transition: color .12s ease-out;
  -o-transition: color .12s ease-out;
  transition: color .12s ease-out;
}

/*Внешние блоки*/
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.25;
  font-family: "YS Text";
  overflow-x: hidden;
}

.header {
  background-color: #422598;
  padding-bottom: 0;
  position: relative;
}

.header::after {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: block;
  box-sizing: padding-box;
  width: 0;
  height: 0;
  content: '';
  border-width: 40px 50vw;
  border-style: solid;
  border-color: #422598 transparent transparent #422598;
}

.header__top {
  border-bottom: 1px solid rgba(240, 240, 240, 0.1);
}

.header__bottom {
  height: 90px;
}

.header__h-menu {
  width: 100%;
  text-align: right;
}

.header__h-center {
  margin-left: -20px;
  margin-right: -100px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  width: auto;
}

.header__h-right {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
}

.header__h-search {
  width: 477px;
}

.header__h-basket {
  margin-left: 26px;
}

.header__catmenu {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
  z-index: 20;
  display: none;
}

.page-white {
  position: relative;
}

.page-white::before {
  content: '';
  width: 100%;
  max-width: 1260px;
  background-color: #fff;
  height: 100px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 3px 3px 0 0;
}

.page__p-indexslider {
  padding-bottom: 20px;
}

.page__p-catalogslider {
  padding-top: 10px;
}

.page__p-sliderdiscounts {
  background-color: #f7f7f7;
  margin-top: 3px;
  padding-top: 42px;
  margin-bottom: 25px;
}

.page__p-todaydiscount {
  padding-right: 48px;
}

.page__p-prodsdiscounts {
  padding-top: 25px;
}

.page__p-todaydiscount {
  padding-top: 25px;
}

.page__p-advertising {
  padding-bottom: 26px;
}

.page__p-title {
  text-align: center;
  width: 100%;
  padding-bottom: 30px;
  position: relative;
  padding-top: 26px;
}

.page__p-title::after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 40px;
  background-image: url(../img/icons/title.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-left: -75px;
}

.page__p-tovslider {
  padding-top: 10px;
  padding-bottom: 25px;
}

.page__p-partnerslider {
  padding-top: 30px;
  padding-bottom: 100px;
}

.page__p-randomstock {
  padding-bottom: 42px;
}

.page__p-newtov {
  padding-bottom: 30px;
}

.page__skidka {
  margin-top: 110px;
  background-color: #f9f9f9;
  padding: 40px 0;
}

.page__p-zag {
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(32, 16, 0, 0.07);
  width: 100%;
  text-align: left;
}

.page__p-filter {
  padding: 18px 6px 0;
}

.page__p-path {
  padding-bottom: 16px;
  padding-top: 26px;
}

.footer {
  background-color: #422498;
  padding: 18px 0 10px;
}

.footer__top {
  padding: 26px 0;
}

.footer__f-nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.footer__f-logo {
  display: block;
  width: 100%;
  text-align: right;
}

.footer__bottom .row {
  position: relative;
}

.footer__bottom .row::after {
  content: '';
  display: block;
  height: 1px;
  left: 15px;
  right: 15px;
  top: 0;
  background-color: rgba(255, 255, 255, 0.2);
  width: auto;
  position: absolute;
}

.footer__f-sogl {
  text-align: left;
  padding: 22px 0;
}

.footer__f-copy {
  text-align: right;
  padding: 22px 0;
}

/*Компоненты*/
.h-region {
  font-size: 12px;
  line-height: 34px;
  color: #fff;
  position: relative;
  padding-left: 15px;
}

.h-region::before {
  content: '';
  width: 10px;
  height: 9px;
  background-image: url(../img/icons/region.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -4.5px;
}

.h-region__link {
  text-decoration: none;
  color: #fff;
  line-height: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.h-region__link:hover {
  color: #fff;
  text-decoration: none;
  opacity: .7;
}

.h-menu {
  font-size: 0;
  display: inline-block;
}

.h-menu__link {
  line-height: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
}

.h-menu__link:hover {
  text-decoration: none;
  color: #fff;
  opacity: .7;
}

.h-menu__item {
  display: inline-block;
  margin-left: 40px;
  line-height: 34px;
  font-size: 12px;
  color: #fff;
}

.h-menu__item:first-child {
  margin-left: 0;
}

.h-menu__item-first {
  color: #fff264;
  padding-left: 15px;
  position: relative;
}

.h-menu__item-first .h-menu__link {
  color: #fff264;
  border-bottom: 1px solid rgba(255, 242, 100, 0.3);
}

.h-menu__item-first .h-menu__link:hover {
  text-decoration: none;
  color: #fff264;
}

.h-menu__item-first .h-menu__link::before {
  content: '';
  width: 11px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/icons/skidka.svg);
}

.h-logo {
  display: inline-block;
}

.h-logo__img {
  max-width: 133px;
  width: 100%;
  height: auto;
  display: block;
}

.h-catalog {
  color: #fff;
  position: relative;
  font-size: 16px;
  font-family: "YSTMedium";
  line-height: 49px;
  height: 49px;
  display: block;
  text-align: center;
  background-color: #6b25fc;
  border-radius: 4px;
  width: 187px;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}

.h-catalog:hover {
  background-color: #6b25fc;
  color: #fff;
  text-decoration: none;
}

.h-catalog__text {
  display: inline-block;
  padding-left: 28px;
  position: relative;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}

.h-catalog__icon {
  position: absolute;
  width: 18px;
  height: 12px;
  left: 0;
  display: block;
  top: 50%;
  margin-top: -6px;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}

.h-catalog__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  border-radius: 10px;
  margin-top: 3px;
}

.h-catalog__line:first-child {
  margin-top: 0;
}

.h-catalog.active {
  background-color: #fff;
  color: #6b25fc;
}

.h-catalog.active .h-catalog__line {
  background-color: #6b25fc;
  width: 18px;
  display: none;
}

.h-catalog.active .h-catalog__line:first-child {
  display: block;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  top: 5px;
  left: 0;
}

.h-catalog.active .h-catalog__line:last-child {
  display: block;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  top: 2px;
  left: 0;
}

.h-search {
  display: block;
}

.h-search::before {
  content: '';
  display: table;
}

.h-search::after {
  content: '';
  display: table;
  clear: both;
}

.h-search__input {
  font-size: 14px;
  color: #222;
  height: 49px;
  border-radius: 4px 0 0 4px;
  padding-right: 10px;
  border: 2px solid transparent;
  border-right: none;
  padding-left: 15px;
  padding-right: 45px;
  float: left;
  max-width: 398px;
  width: 100%;
}

.h-search__input:focus {
  border: 2px solid #6b25fc;
  border-right: none;
}

.h-search__button {
  color: #fff;
  background-color: #6b25fc;
  height: 49px;
  border: none;
  line-height: 49px;
  border-radius: 0 4px 4px 0;
  text-align: center;
  max-width: 78px;
  width: 100%;
  display: block;
  font-size: 16px;
  float: left;
}

.h-come,
.h-basket {
  font-size: 16px;
  line-height: 42px;
  color: #fff;
  text-align: left;
  display: block;
  position: relative;
}

.h-come:hover,
.h-basket:hover {
  text-decoration: none;
  color: #fff;
  opacity: .7;
}

.h-come {
  padding-left: 24px;
}

.h-come::before {
  content: '';
  width: 17px;
  height: 20px;
  background-image: url(../img/icons/profill.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
}

.h-basket {
  padding-left: 28px;
}

.h-basket::before {
  content: '';
  width: 23px;
  height: 19px;
  background-image: url(../img/icons/basket.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9.5px;
}

.p-indexslider__link {
  display: block;
  width: 100%;
  height: 300px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.p-indexslider .owl-prev {
  width: 52px;
  height: 52px;
  display: block;
  border-radius: 50%;
  background-color: rgba(237, 237, 237, 0.6) !important;
  position: absolute;
  left: 32px;
  top: 50%;
  margin-top: -26px;
  z-index: 2;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .5;
}

.p-indexslider .owl-prev:hover {
  opacity: 1;
}

.p-indexslider .owl-prev span {
  font-size: 0;
  width: 16px;
  height: 16px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/icons/back.svg);
  background-size: cover;
}

.p-indexslider .owl-next {
  width: 52px;
  height: 52px;
  display: block;
  border-radius: 50%;
  background-color: rgba(237, 237, 237, 0.6) !important;
  position: absolute;
  right: 32px;
  top: 50%;
  margin-top: -26px;
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .5;
}

.p-indexslider .owl-next:hover {
  opacity: 1;
}

.p-indexslider .owl-next span {
  font-size: 0;
  width: 16px;
  height: 16px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/icons/back.svg);
  background-size: cover;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.p-indexslider .owl-dots {
  font-size: 0;
  text-align: center;
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
}

.p-indexslider .owl-dot {
  display: inline-block;
  width: 8px;
  background-color: #d8d8d8 !important;
  height: 8px;
  border-radius: 50%;
  margin: 0 6px;
}

.p-indexslider .owl-dot.active {
  background-color: #422498 !important;
}

.p-catalogslider__link {
  display: block;
  padding: 24px 18px;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}

.p-catalogslider__link:hover {
  text-decoration: none;
  background-color: #f7f7f7;
}

.p-catalogslider__link:hover .p-catalogslider__img {
  transform: translateZ(0) scale(0.9);
  -webkit-transform: translateZ(0) scale(0.9);
}

.p-catalogslider__top {
  height: 152px;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-catalogslider__img {
  display: block;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}

.p-catalogslider__title {
  display: block;
  text-align: center;
  font-family: "YSTMedium";
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
  white-space: normal;
  color: #222;
}

.p-catalogslider .owl-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(237, 237, 237, 0.6) !important;
  position: absolute;
  left: -20px;
  top: 50%;
  margin-top: -20px;
  z-index: 2;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-catalogslider .owl-prev:hover {
  background-color: rgba(237, 237, 237, 0.9) !important;
}

.p-catalogslider .owl-prev span {
  font-size: 0;
  background-image: url(../img/icons/left-arrow.svg);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.p-catalogslider .owl-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(237, 237, 237, 0.6) !important;
  position: absolute;
  right: -20px;
  top: 50%;
  margin-top: -20px;
  z-index: 2;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-catalogslider .owl-next:hover {
  background-color: rgba(237, 237, 237, 0.9) !important;
}

.p-catalogslider .owl-next span {
  font-size: 0;
  background-image: url(../img/icons/left-arrow.svg);
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.p-catalogslider .disabled {
  display: none !important;
}

.p-bigdiscounts {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 68px;
  background-color: #f7f7f7;
}

.p-bigdiscounts:hover {
  text-decoration: none;
}

.p-bigdiscounts__left {
  text-align: center;
  width: 292px;
  padding-left: 72px;
}

.p-bigdiscounts__center {
  text-align: center;
  width: 247px;
}

.p-bigdiscounts__right {
  text-align: left;
  width: 292px;
}

.p-bigdiscounts__title {
  font-size: 28px;
  font-family: "YSTMedium";
  color: #222;
  display: block;
  line-height: 36px;
  max-height: 105px;
  overflow: hidden;
}

.p-bigdiscounts__boom {
  transform: rotate(-9deg);
  -webkit-transform: rotate(-9deg);
  font-family: BalloonSCD-Extr;
  font-size: 92px;
  letter-spacing: -4.5px;
  color: #f73d34;
  position: relative;
  display: block;
  margin-top: -33px;
}

.p-bigdiscounts__discount {
  color: #f73d34;
  font-size: 20px;
  display: block;
  font-family: "YSTMedium";
}

.p-bigdiscounts__img {
  display: block;
  width: 200px;
  height: auto;
  margin: 0 auto;
}

.p-bigdiscounts__price {
  display: block;
}

.p-bigdiscounts__price span {
  display: inline-block;
  color: #f73d34;
  font-family: "YSTMedium";
  font-size: 32px;
  letter-spacing: -.2px;
}

.p-bigdiscounts__price span::after {
  content: '₽';
  font-size: 26px;
  margin-left: 7px;
  font-family: "YSTBold";
}

.p-bigdiscounts__oldprice {
  display: block;
}

.p-bigdiscounts__oldprice span {
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  color: #222;
  letter-spacing: -.2px;
  font-family: "YSTMedium";
  position: relative;
}

.p-bigdiscounts__oldprice span::after {
  content: '₽';
  margin-left: 6px;
}

.p-bigdiscounts__oldprice span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../img/icons/old.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.p-sliderdiscounts__link {
  display: block;
  position: relative;
  padding-top: 16px;
}

.p-sliderdiscounts__link:hover {
  text-decoration: none;
  background-color: #f7f7f7;
}

.p-sliderdiscounts__link:hover .p-sliderdiscounts__title {
  color: #999;
}

.p-sliderdiscounts__link:hover .p-sliderdiscounts__img {
  transform: translateZ(0) scale(0.93);
  -webkit-transform: translateZ(0) scale(0.93);
}

.p-sliderdiscounts__discounts {
  background-image: url(../img/icons/discounts.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: block;
  position: absolute;
  width: 46px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  top: 16px;
  left: 8px;
  font-size: 14px;
  color: #fff;
  z-index: 2;
}

.p-sliderdiscounts__standart {
  font-size: 16px;
  letter-spacing: -.2px;
  font-family: "YSTMedium";
  color: #222;
}

.p-sliderdiscounts__standart::after {
  content: '₽';
  font-size: 14px;
}

.p-sliderdiscounts__top {
  height: 184px;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-sliderdiscounts__wrapper {
  max-height: 100%;
  max-width: 100%;
}

.p-sliderdiscounts__img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  width: auto !important;
  height: auto;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}

.p-sliderdiscounts__content {
  padding-top: 16px;
  padding-bottom: 42px;
  padding-left: 8px;
  padding-right: 8px;
}

.p-sliderdiscounts__row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
}

.p-sliderdiscounts__price {
  font-size: 0;
  padding-bottom: 8px;
}

.p-sliderdiscounts__new {
  color: #f73d34;
  font-family: "YSTMedium";
  letter-spacing: -.2px;
  font-size: 16px;
  display: inline-block;
}

.p-sliderdiscounts__new::after {
  content: '₽';
  font-size: 14px;
}

.p-sliderdiscounts__old {
  margin-left: 8px;
  color: #222;
  position: relative;
  letter-spacing: -.2px;
  font-size: 12px;
}

.p-sliderdiscounts__old::after {
  content: '₽';
  font-size: 12px;
}

.p-sliderdiscounts__old::before {
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background-image: url(../img/icons/old.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.p-sliderdiscounts__title {
  color: #222;
  font-size: 14px;
  line-height: 18px;
  height: 54px;
  overflow: hidden;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}

.p-sliderdiscounts .owl-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(237, 237, 237, 0.6) !important;
  position: absolute;
  left: -20px;
  top: 50%;
  margin-top: -20px;
  z-index: 2;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-sliderdiscounts .owl-prev:hover {
  background-color: rgba(237, 237, 237, 0.9) !important;
}

.p-sliderdiscounts .owl-prev span {
  font-size: 0;
  background-image: url(../img/icons/left-arrow.svg);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.p-sliderdiscounts .owl-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(237, 237, 237, 0.6) !important;
  position: absolute;
  right: -20px;
  top: 50%;
  margin-top: -20px;
  z-index: 2;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-sliderdiscounts .owl-next:hover {
  background-color: rgba(237, 237, 237, 0.9) !important;
}

.p-sliderdiscounts .owl-next span {
  font-size: 0;
  background-image: url(../img/icons/left-arrow.svg);
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.p-todaydiscount {
  text-align: center;
  position: relative;
  overflow-x: hidden;
}

.p-todaydiscount::before {
  content: '';
  display: block;
  left: 0;
  right: 0;
  top: 0;
  height: 92px;
  background-color: #8ef4a8;
  z-index: -1;
  position: absolute;
}

.p-todaydiscount::after {
  content: '';
  display: block;
  top: 91px;
  border-top: 59px solid #8ef4a8;
  border-right: 438px solid transparent;
  position: absolute;
  left: 0;
  z-index: -1;
  right: 0;
}

.p-todaydiscount__title {
  padding-top: 26px;
  font-size: 28px;
  font-family: "YSTMedium";
  color: #222;
}

.p-todaydiscount__wow {
  width: 100%;
  margin-top: -30px;
  transform: rotate(-9deg);
  font-size: 92px;
  letter-spacing: -4.5px;
  z-index: 1;
  color: #f73d34;
}

.p-todaydiscount__link {
  display: block;
  padding-bottom: 8px;
}

.p-todaydiscount__link:hover {
  text-decoration: none;
}

.p-todaydiscount__link:hover .p-todaydiscount__name {
  color: #999;
}

.p-todaydiscount__top {
  position: relative;
  height: 300px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-todaydiscount__img {
  height: 100%;
  width: auto;
}

.p-todaydiscount__discounts {
  position: absolute;
  bottom: 0;
  width: 64px;
  height: 35px;
  background-image: url(../img/icons/discounts.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 16px;
  color: #fff;
  line-height: 35px;
  text-align: center;
  display: block;
  left: 50%;
  margin-left: -32px;
}

.p-todaydiscount__bottom {
  padding-top: 24px;
}

.p-todaydiscount__row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

.p-todaydiscount .br-widget {
  display: block;
  float: left;
}

.p-todaydiscount__assessment {
  line-height: 24px;
  display: block;
  font-size: 16px;
  color: #999;
  float: left;
  margin-left: 6px;
}

.p-todaydiscount__name {
  display: block;
  width: 100%;
  padding-top: 15px;
  height: 80px;
  font-size: 20px;
  line-height: 26.66667px;
  letter-spacing: 1.33;
  overflow: hidden;
  color: #222;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}

.p-todaydiscount__price {
  text-align: center;
}

.p-todaydiscount__new {
  color: #f73d34;
  font-family: "YSTBold";
  letter-spacing: -.2px;
  font-size: 32px;
  display: block;
}

.p-todaydiscount__new::after {
  content: '₽';
  font-size: 26px;
}

.p-todaydiscount__old {
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  color: #222;
  letter-spacing: -.2px;
  position: relative;
  font-family: "YSTMedium";
}

.p-todaydiscount__old::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/icons/old.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}

.p-todaydiscount__old::after {
  content: '₽';
}

.p-prodsdiscounts::before {
  content: '';
  display: table;
}

.p-prodsdiscounts::after {
  content: '';
  display: table;
  clear: both;
}

.p-prodsdiscounts__item {
  width: 33.3%;
  float: left;
}

.p-prodsdiscounts__item .p-sliderdiscounts__discounts {
  left: 16px;
}

.p-prodsdiscounts__item .p-todaydiscount__assessment {
  line-height: 12px;
  font-size: 13px;
}

.p-prodsdiscounts .br-theme-fontawesome-stars-o .br-widget a {
  width: 12px;
  height: 12px;
}

.p-advertising {
  display: block;
  width: 100%;
}

.p-advertising__img {
  width: 100%;
  display: block;
  height: auto;
}

.p-title {
  color: #222;
  font-size: 32px;
  line-height: 36px;
  font-family: "YSTMedium";
  display: inline-block;
}

.p-tovslider__item {
  width: 100%;
  float: none;
}

.p-tovslider .br-theme-fontawesome-stars-o .br-widget a {
  width: 12px;
  height: 12px;
}

.p-tovslider .owl-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(237, 237, 237, 0.6) !important;
  position: absolute;
  left: -20px;
  top: 50%;
  margin-top: -20px;
  z-index: 2;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-tovslider .owl-prev:hover {
  background-color: rgba(237, 237, 237, 0.9) !important;
}

.p-tovslider .owl-prev span {
  font-size: 0;
  background-image: url(../img/icons/left-arrow.svg);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.p-tovslider .owl-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(237, 237, 237, 0.6) !important;
  position: absolute;
  right: -20px;
  top: 50%;
  margin-top: -20px;
  z-index: 2;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-tovslider .owl-next:hover {
  background-color: rgba(237, 237, 237, 0.9) !important;
}

.p-tovslider .owl-next span {
  font-size: 0;
  background-image: url(../img/icons/left-arrow.svg);
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.p-tovslider .disabled {
  display: none !important;
}

.p-partnerslider__link {
  height: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
}

.p-partnerslider__link:hover .p-partnerslider__img {
  filter: none;
}

.p-partnerslider__img {
  width: auto !important;
  height: auto;
  filter: grayscale(100%);
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
  max-height: 40px;
}

.p-partnerslider .owl-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(237, 237, 237, 0.6) !important;
  position: absolute;
  left: -20px;
  top: 50%;
  margin-top: -20px;
  z-index: 2;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-partnerslider .owl-prev:hover {
  background-color: rgba(237, 237, 237, 0.9) !important;
}

.p-partnerslider .owl-prev span {
  font-size: 0;
  background-image: url(../img/icons/left-arrow.svg);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.p-partnerslider .owl-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(237, 237, 237, 0.6) !important;
  position: absolute;
  right: -20px;
  top: 50%;
  margin-top: -20px;
  z-index: 2;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-partnerslider .owl-next:hover {
  background-color: rgba(237, 237, 237, 0.9) !important;
}

.p-partnerslider .owl-next span {
  font-size: 0;
  background-image: url(../img/icons/left-arrow.svg);
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.p-partnerslider .disabled {
  display: none !important;
}

.p-randomstock {
  display: block;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}

.p-randomstock:hover {
  opacity: 0.9;
}

.p-randomstock__img {
  display: block;
  width: 100%;
  height: auto;
}

.p-newtov {
  padding-top: 16px;
  padding-bottom: 12px;
  display: block;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}

.p-newtov:hover {
  background-color: #f7f7f7;
  text-decoration: none;
}

.p-newtov:hover .p-newtov__img {
  transform: translateZ(0) scale(0.93);
  -webkit-transform: translateZ(0) scale(0.93);
}

.p-newtov:hover .p-newtov__title {
  opacity: 1;
  padding-top: 0;
}

.p-newtov:hover .p-newtov__new {
  opacity: 1;
}

.p-newtov__top {
  height: 213px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.p-newtov__img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  display: block;
  height: auto;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}

.p-newtov__content {
  padding: 0 16px;
  position: relative;
}

.p-newtov__title {
  overflow: hidden;
  height: 32px;
  margin-top: 0;
  transition: all 300ms ease-out;
  text-align: center;
  text-overflow: ellipsis;
  opacity: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: #787878;
  font-size: 12px;
  line-height: 16px;
  padding: 0 12px;
  padding-top: 32px;
  opacity: 0;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}

.p-newtov__price {
  display: block;
  padding: 0 16px;
  text-align: center;
  font-size: 0;
}

.p-newtov__new {
  font-size: 16px;
  display: inline-block;
  color: #222;
  font-family: "YSTMedium";
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
  opacity: .7;
}

.p-newtov__new::after {
  content: '₽';
  font-size: 16px;
}

.p-newtov__old {
  display: inline-block;
  margin-left: 8px;
  color: #999;
  font-size: 12px;
  text-decoration: line-through;
}

.p-newtov__old::after {
  content: '₽';
  font-size: 12px;
}

.p-more {
  display: block;
  width: 100%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #000;
  height: 49px;
  line-height: 49px;
  font-size: 14px;
  border-radius: 3px;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}

.p-more:hover {
  text-decoration: none;
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
}

.p-discount__text h2 {
  font-family: "YSTBold";
  font-size: 32px;
  line-height: 1.125em;
  color: #222;
  display: block;
  margin-bottom: 16px;
}

.p-discount__text span {
  margin-bottom: 26px;
  display: block;
  color: #999;
  font-size: 10px;
  letter-spacing: .3px;
}

.p-discount__application {
  font-size: 0;
}

.p-discount__application::before {
  content: '';
  display: table;
}

.p-discount__application::after {
  content: '';
  display: table;
  clear: both;
}

.p-discount__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  float: left;
  margin-right: 6px;
}

.p-discount__item:last-child {
  margin-right: 0;
}

.p-discount__link {
  display: block;
}

.p-discount__img {
  width: auto;
  height: auto;
  height: 50px;
}

.p-discount__baner {
  width: 100%;
  height: 240px;
  position: relative;
  background-color: #6c2aff;
}

.p-discount__phone {
  display: block;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 253px;
  height: auto;
}

.p-discount__content {
  display: block;
  padding-right: 250px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.p-discount__wrapper {
  display: block;
  width: 100%;
}

.p-discount__subtitle {
  border: 2px solid #9755ff;
  height: 50px;
  line-height: 46px;
  display: block;
  text-transform: uppercase;
  text-align: center;
  width: 204px;
  margin: 0 auto;
  font-family: "YSTBold";
  color: #fff;
  font-size: 32px;
}

.p-discount__subdescription {
  margin-top: 16px;
  font-size: 20px;
  line-height: 1.125em;
  color: #fff;
  font-family: "YSTBold";
  display: block;
  text-align: center;
  padding-bottom: 16px;
  width: 100%;
}

.f-nav {
  display: block;
  margin-right: 40px;
}

.f-nav::last-child {
  margin-right: 0;
}

.f-nav__title {
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  font-family: "YSTMedium";
  line-height: 24px;
  color: #fff;
}

.f-nav__list {
  display: block;
  width: 100%;
}

.f-nav__item {
  padding: 6px 0;
  display: block;
}

.f-nav__link {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}

.f-nav__link:hover {
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}

.f-logo {
  display: inline-block;
  width: 133px;
}

.f-logo__img {
  display: block;
  width: 100%;
  height: auto;
}

.f-sogl {
  display: inline-block;
  padding: 6px 0;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}

.f-sogl:hover {
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}

.f-copy {
  display: inline-block;
  padding: 6px 0;
  line-height: 20px;
  font-size: 14px;
  color: #fff;
}

.h-catmenu {
  width: 940px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.h-catmenu::after {
  content: '';
  width: 1px;
  top: 0;
  bottom: 0;
  display: block;
  background-color: #ececec;
  position: absolute;
  left: 28%;
}

.h-catmenu__left {
  width: 28%;
  height: 100%;
  position: relative;
}

.h-catmenu__menu {
  padding: 15px 0 24px;
  margin-right: 15px;
}

.h-catmenu__menulink {
  height: 68px;
  padding: 8px;
  padding-left: 72px;
  font-size: 14px;
  color: #222;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.h-catmenu__menulink:hover {
  font-family: "YSTBold";
  text-decoration: none;
  color: #222;
  background-color: #fafafa;
}

.h-catmenu__menuitem.active .h-catmenu__menulink {
  font-family: "YSTBold";
  text-decoration: none;
  color: #222;
  background-color: #fafafa;
}

.h-catmenu__menuicon {
  width: 48px;
  display: block;
  position: absolute;
  left: 8px;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.h-catmenu__right {
  width: 72%;
  height: 100%;
}

.h-catmenu__hidden {
  padding: 15px 0 0 15px;
}

.h-catmenu__cat {
  padding-bottom: 24px;
  width: 48%;
}

.h-catmenu__title {
  height: 68px;
  padding: 8px;
  padding-left: 72px;
  font-size: 14px;
  font-family: "YSTBold";
  color: #6a3df7;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}

.h-catmenu__title:hover {
  text-decoration: none;
  color: #6a3df7;
  opacity: .7;
}

.h-catmenu__icon {
  width: 48px;
  display: block;
  position: absolute;
  left: 8px;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.h-catmenu__list {
  padding-left: 72px;
}

.h-catmenu__item {
  display: block;
  max-width: 200px;
}

.h-catmenu__link {
  display: inline-block;
  color: #2b2b2b;
  font-size: 14px;
  line-height: 18px;
  padding: 4px 0;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}

.h-catmenu__link:hover {
  text-decoration: none;
  color: #2b2b2b;
  opacity: .7;
}

.p-path {
  font-size: 0;
}

.p-path__item {
  display: inline-block;
  padding-right: 24px;
  position: relative;
}

.p-path__item::after {
  content: '—';
  width: 24px;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  color: #999;
}

.p-path__item:last-child {
  padding-right: 0;
}

.p-path__item:last-child::after {
  display: none;
}

.p-path__link {
  font-size: 14px;
  color: #999;
  line-height: 18px;
}

.p-path__link:hover {
  text-decoration: none;
  color: #999;
  opacity: .7;
}

.p-zag {
  line-height: 36px;
  font-size: 32px;
  color: #222;
  font-family: "YSTMedium";
}

.p-filter__top {
  padding-bottom: 14px;
  border-bottom: 1px solid #f0f0f0;
  display: block;
}

.p-filter__top .p-filter__top {
  border-bottom: none;
  padding-bottom: 0;
  padding-left: 8px;
}

.p-filter__toplink {
  color: #222;
  font-size: 13px;
  line-height: 15px;
  display: inline-block;
  margin-bottom: 9px;
}

.p-filter__toplink:hover {
  color: #222;
  opacity: .7;
  text-decoration: none;
}

.p-filter__topitem.active .p-filter__toplink {
  font-family: "YSTMedium";
}

.p-filter__price {
  padding-top: 18px;
}

.p-filter__subtitle {
  font-size: 13px;
  line-height: 15px;
  font-family: "YSTMedium";
  color: #222;
  margin-bottom: 7px;
  padding: 5px 0;
  display: block;
}

.p-filter__fromto::before {
  content: '';
  display: table;
}

.p-filter__fromto::after {
  content: '';
  display: table;
  clear: both;
}

.p-filter__input {
  width: 100%;
  display: block;
  height: 28px;
  color: #202020;
  border: 2px solid #e8e8e8;
  border-radius: 3px;
  padding-right: 11px;
  padding-left: 5px;
  font-size: 13px;
}

.p-filter__input:focus {
  border-color: #ffd426;
}

.p-filter__fromtoleft {
  width: 50%;
  float: left;
  padding-right: 5px;
}

.p-filter__fromtoright {
  width: 50%;
  float: right;
  padding-left: 5px;
}

.p-filter__block {
  padding-top: 30px;
  display: block;
  width: 100%;
  padding-bottom: 5px;
}

.p-filter__item {
  display: block;
  width: 100%;
  padding: 5px 0;
}

.p-filter__item input {
  display: none;
}

.p-filter__item label {
  display: inline-block;
  padding-left: 24px;
  position: relative;
  font-size: 13px;
  color: #222;
  vertical-align: middle;
  cursor: pointer;
  line-height: 16px;
}

.p-filter__item label::before {
  content: '';
  border: 2px solid #ececec;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
}

.p-filter__item label::after {
  content: '';
  background-image: url(../img/icons/icon-check.svg);
  width: 12px;
  height: 9px;
  background-size: cover;
  position: absolute;
  left: 2px;
  z-index: 2;
  top: 1px;
}

.p-filter__item label:hover::before {
  border-color: #d4d4d4;
  background-color: #f8f8f8;
}

.p-filter__item input:checked + label::before {
  background-color: #fd8949;
  border-color: #fd8949;
}

.p-filter__item input:checked + label::after {
  display: block;
}

.p-filter__listhidden {
  display: none;
}

.p-filter__letter {
  display: block;
  width: 100%;
  font-size: 13px;
  line-height: 14px;
  color: #999;
  padding-top: 8px;
  padding-bottom: 5px;
}

.p-filter__scroll {
  max-height: 264px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 7px;
  position: relative;
}

.p-filter__scroll::before {
  content: '';
  display: block;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  top: 0;
  height: 8px;
  background-image: linear-gradient(180deg, #f7f7f7 0, rgba(255, 255, 255, 0.001));
}

.p-filter__scroll::after {
  content: '';
  display: block;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  bottom: 0;
  height: 5px;
  background-image: linear-gradient(0deg, #f7f7f7 0, rgba(255, 255, 255, 0.001));
}

.p-filter__more {
  color: #6a3df7;
  font-size: 14px;
  line-height: 1.6;
  display: inline-block;
  padding: 5px 0;
}

.p-filter__more:hover {
  text-decoration: none;
  color: #6a3df7;
  opacity: .7;
}

.p-filter__color {
  width: 100%;
  max-width: 173px;
}

.p-filter__color::before {
  content: '';
  display: table;
}

.p-filter__color::after {
  content: '';
  clear: both;
  display: table;
}

.p-filter__coloritem {
  width: 20%;
  padding: 5px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

.p-filter__colorlink {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
